* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    /*justify-content: space-between;*/
    /*justify-content: space-around;*/
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.squad {
    width: 600px;
    height: 600px;
    border: 1px solid;
    font-size: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.black {
    background-color: black;
}
.green {
    background-color: green;
}
.brown {
    background-color: brown;
}
.violet {
    background-color: violet;
}
/*.container {*/
/*    width: 1280px;*/
/*    margin: 0 auto;*/
/*    padding-top: 60px;*/
/*    padding-bottom: 30px;*/
/*}*/
/*.title {*/
/*    font-size: 80px;*/
/*    font-weight: normal;*/
/*}*/
/*.title span {*/
/*    color: aqua;*/
/*}*/
/*.header {*/
/*    margin-top: 44px;*/
/*    background-color: #35444F;*/
/*}*/
/*.nav-list {*/
/*    width: max-content;*/
/*    margin: 0 auto;*/
/*    list-style: none;*/
/*}*/
/*.list-item {*/
/*    display: inline-block;*/
/*    padding: 28px 42px;*/
/*}*/
/*.list-item:hover {*/
/*    background-color: #222F3A;*/
/*    border-left: 1px solid gray;*/
/*    border-right: 1px solid gray;*/
/*    cursor: pointer;*/
/*}*/
/*.list-item a {*/
/*    color: white;*/
/*    text-decoration: none;*/
/*}*/
/*.section {*/
/*    margin: 50px 0;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/
/*.side-list {*/
/*    width: 344px;*/
/*    list-style: none;*/
/*    border: 1px solid gray;*/
/*}*/
/*.side-list-item {*/
/*    padding: 30px 44px;*/
/*}*/
/*.side-list-item:hover {*/
/*    background-color: #DBDBDB;*/
/*    padding-left: 70px;*/
/*    cursor: pointer;*/
/*}*/
/*.right-side {*/
/*    width: 884px;*/
/*}*/
/*.img-wrapper {*/
/*    width: 100%;*/
/*    height: 530px;*/
/*    border: 1px solid black;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/