* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wrapper {
    width: 80vw;
    height: 500px;
    background-color: violet;
    position: relative;
}
.box {
    width: 200px;
    height: 200px;
    background-color: brown;
    position: absolute;
}
.x {
    width: 200px;
    height: 200px;
    background-color: brown;
    position: absolute;
    left: 200px;
    top: 0;
    z-index: 20;
}
.y {
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: absolute;
    left: 250px;
    top: 0;
}
.container {
    position: relative;
}
.header {
    background-color: paleturquoise;
    position: fixed;
    z-index: 99;
    width: 100%;
}