* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: lightgray;
}
.nav-list {
    width: max-content;
    /*padding: 20px 20px;*/
    list-style: none;
    display: flex;
}
.list-item {
    display: inline-block;
    padding: 20px 40px;
    color: white;
    position: relative;
    background-color: green;
}
.list-item:hover {
    background-color: darkgreen;
    cursor: pointer;
}
.list-item:hover .submenu {
    display: block;
}
.text {
    margin-top: 40px;
}
.submenu {
    position: absolute;
    width: 100%;
    top: 58px;
    left: 0;
    display: none;
}
.submenu-item {
    padding: 20px 40px;
    background-color: green;
    list-style: none;
}
.submenu-item:hover {
    background-color: darkgreen;
    cursor: pointer;
}
.submenu-item:hover .submenu-inside-list {
    display: block;
}
.submenu-inside-list {
    position: absolute;
    width: 100%;
    left: 100%;
    top: 58px;
    display: none;
}
.inside-list-item:hover {
    background-color: darkgreen;
    cursor: pointer;
}
.inside-list-item {
    padding: 20px 40px;
    background-color: green;
    list-style: none;
}